{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom,{
            label:'Prénom'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.adresseprincipale,{
            label:'Adresse Principale'
        }) }}
        {{ form_row(registrationForm.telephone,{
            label:'Téléphone'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe (6 caractères mininum)'
        }) }}

        <button type="submit" class="btn">Inscrivez-vous!</button>
    {{ form_end(registrationForm) }}
{% endblock %}
