{% extends 'base.html.twig' %}

{% block title %}Modification du Profil de {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block body %}
    <h1>Modification du Profil de {{ app.user.nom }} {{ app.user.prenom }}</h1>

        <div class="form">
            {{ form_start(form) }}
                    <div class="form_row">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="form_row">
                        {{ form_row(form.prenom,{
                                label:'Prénom'
                        }) }}
                    </div>
                    <div class="form_row">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form_row">
                        {{ form_row(form.adresseprincipale,{
                                label:'Adresse Principale'
                        }) }}
                    </div>
                    <div class="form_row">
                        {{ form_row(form.telephone,{
                                label:'Téléphone'
                        }) }}
                    </div>
            {{ form_end(form) }}
        </div>
        <button type="button" class="btn btn-dark" id="backtoprofilbutton"><a class="liens" href="{{ path ('utilisateur') }}">Revenir sur la page de profil</a></button>
{% endblock %}