{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Profil de {{ app.user.nom }} {{ app.user.prenom }}</h1>
        <div class="form">
            <p>Nom : {{ app.user.nom }}</p>
            <p>Prénom : {{ app.user.prenom }}</p>
            <p>E-mail : {{ app.user.email }}</p>
            <p>Adresse Principale : {{ app.user.adresseprincipale }}</p>
            <p>Téléphone : {{ app.user.telephone }}</p>
        </div>
        <div class="editbutton">
            <a class="liens" href="{{ path('utilisateur_modifierprofil') }} "><button type="button" class="btn btn-dark">Changer le profil</button></a>
            <a class="liens" href="{{ path('utilisateur_modifierpass') }} "><button type="button" class="btn btn-dark">Changer le mot de passe</button></a>
        </div>
{% endblock %}
