{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Profil de {{ app.user.nom }} {{ app.user.prenom }}</h1>
        <div class="form">
            <p>Nom : {{ app.user.nom }}</p>
            <p>Prénom : {{ app.user.prenom }}</p>
            <p>E-mail : {{ app.user.email }}</p>
            <p>Adresse Principale : {{ app.user.adresseprincipale }}</p>
            <p>Téléphone : {{ app.user.telephone }}</p>
        </div>
        <div class="editbutton">
            <button type="button" class="btn btn-dark"><a class="liens" href="{{ path('utilisateur_modifierprofil') }} ">Changer le profil</a></button>
            <button type="button" class="btn btn-dark"><a class="liens" href="{{ path('utilisateur_modifierpass') }} ">Changer le mot de passe</a></button>
        </div>
{% endblock %}
