<div class="form">
    {{ form_start(form) }}
        <div class="form_row">
            {{ form_row(form.adresse) }}
        </div>
        <div class="form_row">
            {{ form_row(form.coordonnees, {'label' : 'Coordonnées'}) }}
        </div>
        <div class="form_row">
            {{ form_row(form.prix, {'label' : 'Prix (€)'}) }}
        </div>
        <div class="form_row">
            {{ form_row(form.superficie, {'label' : 'Superficie (m²)'}) }}
        </div>
        <div class="form_row">
            {{ form_row(form.images) }}
        </div>

        {% if app.request.attributes.get('_route') == 'bien_edit' %}
            <div class="imagesbox">
                <h2>Images</h2>
                {% for image in bien.images %}
                    <div>
                        <img class="imagesbien" src="{{ asset('/uploads/images/') }}{{ image.url }}" alt="Image" width="150">

                        <a role="button" class="btn btn-dark" href="{{ path('image_delete', {'id': image.id}) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <button class="btn btn-dark" style="margin-left:10px;">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>
