{% extends 'base.html.twig' %}

{% block title %}Liste des Biens{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('bien') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Liste des Biens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Propriétaire</th>
                <th>Prix (euros)</th>
                <th>Superficie</th>
                <th>Date de dépôt</th>
                <th>Photos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.adresse }}</td>
                {% if bien.proprietaire %}
                    <td>{{ bien.proprietaire.nom }} {{ bien.proprietaire.prenom }}</td>
                {% endif %}
                <td>{{ bien.prix }}</td>
                <td>{{ bien.superficie }}</td>
                <td>{{ bien.dateDeDepot ? bien.dateDeDepot|date('d-m-Y H:i:s') : '' }}</td>
                <td><img src="{{ asset('uploads/images/')}}{{ bien.urlImage }} "></td>
                <td>{% if is_granted('EDIT', bien) %}
                        <a class="btn btn-primary" role="button" href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a>
                    {% endif %}
                    <a href="{{ path('bien_delete', {'id': bien.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bien_new') }}">Ajouter Un Bien</a>
{% endblock %}
