{% extends 'base.html.twig' %}

{% block title %}LeBonLogement - Regarder un bien{% endblock %}

{% block body %}
    <div class="form">
        <h2>Informations</h2>
        <div class="form_row">
            Adresse: {{ bien.adresse }}
        </div>
        <div class="form_row">
            Code Postal: {{ bien.coordonnees.codepostal }}
        </div>
        <div class="form_row">
            Commune: {{ bien.coordonnees.commune }}
        </div>
        <div class="form_row">
            Prix: {{ bien.prix }} €
        </div>
        <div class="form_row">
            Superficie: {{ bien.superficie }}
        </div>
    </div>
    {% if app.request.attributes.get('_route') == 'bien_show' %}
        <div class="imagesbox">
            <h2>Images</h2>
            {% for image in bien.images %}
                <img class="imagesbien" src="{{ asset('/uploads/images/') }}{{ image.url }}" alt="Image" width="150">
            {% endfor %}
        </div>
    {% endif %}

    <div class="options">
        <button class="btn btn-dark"><a href="{{ path('bien_all_index') }}">Retour</a></button>
    </div>
    <div id="myModal" class="modal">

        <span class="close">&times;</span>

        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/lebonlogement.js') }}" defer></script>
{% endblock %}